body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    background: #F3F3F3;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    cursor: url('../image/pen.png'), auto;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    height: auto;
    width: 50px;
    background: #6e6e6e;
    cursor: auto;
}

main .coolstuff {
    display: block;
    width: 30px;
    height: 30px;
    background-color: yellow;
    color: #171717;
    font-size: 20px;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer
}

main .download {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../image/save.png);
    background-color: yellow;
    color: #171717;
    font-size: 20px;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer
}

main .upload {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../image/upload.png);
    background-color: yellow;
    color: #171717;
    font-size: 20px;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer
}

main .text {
    display: block;
    width: 30px;
    height: 30px;
    background-color: yellow;
    color: #171717;
    font-size: 20px;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer
}

main section {
    display: block;
    margin: 15px auto;
    width: 30px;
    height: 30px
}

main .colors {
    display: block;
    width: 30px;
    height: 30px;
    background-color: yellow;
    color: #171717;
    font-size: 20px;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer
}

main .eraser {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../image/eraser_menu.png);
    background-color: yellow;
    color: #171717;
    font-size: 20px;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer
}

main .circle {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../image/circle.png);
    background-color: yellow;
    color: #171717;
    font-size: 20px;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer
}

main .triangle {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../image/triangle.png);
    background-color: yellow;
    color: #171717;
    font-size: 20px;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer
}

main .rectangle {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../image/rectangle.png);
    background-color: yellow;
    color: #171717;
    font-size: 20px;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer
}

main .line {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../image/line.png);
    background-color: yellow;
    color: #171717;
    font-size: 20px;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer
}

main .thickness1 {
    display: block;
    width: 30px;
    height: 120px;
    background-color: yellow;
    color: #171717;
    font-size: 20px;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer
}

main .thickness1 .bar {
    width: 100px;
    height: 30px;
    margin: 0;
    transform-origin: 55px 55px;
    transform: rotate(-90deg);
}

main .clear {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    color: #171717;
    font-size: 20px;
    font-weight: 900;
    background-image: url('../image/clear.png');
    background-color: yellow;
    border: none;
    outline: none;
    cursor: pointer
}

main .selectcolor {
    display: block;
    width: 27px;
    height: 27px;
    background-color: yellow;
    color: #171717;
    border: none;
    outline: none;
    cursor: pointer
}

.box {
    border: 10px solid #0000CC;
    width: 0px;
    height: 0px;
    position: absolute;
    opacity: 0.5;
    cursor: pointer;
}

main .thickness {
    position: relative;
    background-image: url(../image/text.png);
    background-color: yellow;
    cursor: pointer;
}

main .thickness .stroke-weight {
    display: none;
    height: 25px;
    left: 30px;
    top: 80%;
    -webkit-transform: translateY(-50%);
    transform: translateY(90%)
}

main .thickness .stroke-weight:focus {
    display: block
}

main .thickness:hover .stroke-weight {
    display: block
}